In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/jeonhyejeong/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/jeonhyejeong/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jeonhyejeong/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/jeonhyejeong/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/jeonhyejeong/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
#판다스 모듈 호출
import pandas as pd

In [5]:
#리스트를 이용한 데이터프레임 선언하기
#리스트는 다양한 형태의 자료(숫자,문자,불 등)를 모아서 저장할 수 있는 형태
df = pd.DataFrame(data=[['kor',70],['math',80]],columns=['class','score'])
df

  class  score
0   kor     70
1  math     80

In [7]:
#딕셔너리를 이용한 데이터프레임 선언하기
#딕셔너리는 '키'를 기반으로 다양한 형태의 자료(숫자,문자,불 등)를 모아서 저장할 수 있는 형태
df = pd.DataFrame({'class':['kor','math'],'score':[70,80]})
df

  class  score
0   kor     70
1  math     80